[mysqld_safe]
socket          = /var/run/mysqld/mysqld.sock

[mysqld]
#
# * Basic Settings
#
socket          = /var/run/mysqld/mysqld.sock
pid-file	= /var/run/mysqld/mysqld.pid
port            = 3306
basedir         = /usr
datadir         = /var/lib/mysql
tmpdir          = /tmp
pid-file = /var/run/mysqld/mysqld.pid
log_error = /var/log/mysql/error.log
symbolic-links=0
max_allowed_packet=300M
max_connections=512

## MySQL8 update
default_authentication_plugin=mysql_native_password

# bind-address = 127.0.0.1

## slow query log
slow_query_log = 1
slow_query_log_file = /var/log/mysql/slow_query.log
log-queries-not-using-indexes = 1

## Percona Toolkit
long_query_time = 0
min_examined_row_limit = 0

## cache size
table_open_cache = 2000
## max_connections/3の値にする
thread_cache_size = 100
## query_cache_limit, query_cache_sizeはメモリ量と照らして勘案する。
binlog_cache_size = 16M
max_heap_table_size = 64M
tmp_table_size = 64M


## innodb
## InnoDBのデータ領域をテーブル単位にする
innodb_file_per_table = ON
# innodb_strict_mode
# 実メモリの80%に設定する
innodb_buffer_pool_size = 3G
innodb_log_buffer_size = 16M
# innodb_buffer_pool_sizeの25~100%にする
innodb_log_file_size = 512M
##デッドロックを検知
innodb_print_all_deadlocks = 1
##なんか早くする
innodb_flush_log_at_trx_commit = 2
innodb_flush_method = O_DIRECT
#innodb_doublewrite = 0
#innodb_read_io_threads = 8
#innodb_write_io_threads = 8
#innodb_lock_wait_timeout = 5
#innodb_support_xa = 1
#innodb_autoinc_lock_mode = 2
#innodb_file_format = Barracuda
#innodb_large_prefix
## 再起動に時間かかってもいいのでウォームアップする
loose_innodb_buffer_pool_dump_at_shutdown = 1
loose_innodb_buffer_pool_load_at_startup = 1
loose_innodb_monitor_enable = all